@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello,</h1>
    <p>My name is <span class="keyword">Yoon Song</span> </p>
    <p>and I am a <span class="keyword">Software Developer</span> based in <span class="keyword">Toronto, ON</span></p>
</div>
<div class="picture-container">
    <img class="profile-picture" src="./images/github_profile_pic.jpg"/>
</div>
<div class="text-center">
    <h2>Links</h2>
    <p>Email, LinkedIn, GitHub</p>
</div>


<style>

    .keyword {
        font-size: 40px;
    }

    .picture-container {
        display: flex;
        justify-content: center; 
    }

    .profile-picture {
        width: 1000px;
        height: 600px;
        object-fit: cover;
    }
</style>