@{
    ViewData["Title"] = "Resume";


    List<Education> educations = ViewBag.Educations;
    List<Work> works = ViewBag.Works;
    List<Certification> certifications = ViewBag.Certifications;

}


<!-- Include Sections for Skills - Languages, DB, Version Control/Tools, Web Frameworks/Libraries-->


<div class="text-center">
    <h1 class="display-4">Resume</h1>
</div>
<div class="resume-section">
    <h2 class="resume-section-header">Education</h2>
    @foreach (Education education in educations) {
        Html.RenderPartial("_EducationAccordion", education);
    }
</div>
<hr />
<div class="resume-section">
    <h2 class="resume-section-header">Experience</h2>
    @foreach (Work work in works)
    {
        Html.RenderPartial("_WorkAccordion", work);
    }
</div>
<hr />
<div class="resume-section">
    <h2 class="resume-section-header">Certifications</h2>
    @foreach (Certification cert in certifications) {
        Html.RenderPartial("_CertificationAccordion", cert);
    }
</div>