@{
    ViewData["Title"] = "Resume";
}


<div class="text-center">
    <h1 class="display-4">Resume</h1>
</div>
<div class="resume-section">
    @*Education*@
    <h2>Education</h2>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/seneca-logo.svg" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Computer Programming & Analysis</p>
            <p class="location-time">Toronto, ON | Jan 2021 – Present</p>
@*            <p class="description">description 1</p>
*@        </div>
    </div>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/Schulich_York_Logo_Footer.svg" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Master of Management</p>
            <p class="location-time">Toronto, ON | Sep 2018 – Oct 2019</p>
@*            <p class="description">description 1</p>
*@        </div>
    </div>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/University_of_Toronto-Logo.wine.svg" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Honours Bachelor of Science</p>
            <p class="location-time">Toronto, ON | Sep 2013 – Jun 2018</p>
@*            <p class="description">description 1</p>
*@        </div>
    </div>
</div>
<div class="resume-section">
    @*Experience*@
    <h2>Experience</h2>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/alpha-logo.svg" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Software Developer</p>
            <p class="location-time">Toronto, ON | Dec 2021 - Present</p>
@*            <p class="description">description1</p>
*@        </div>
    </div>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/brafasco_logo_55.png" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Inventory Coordinator</p>
            <p class="location-time">Vaughan, ON | Dec 2020 – Apr 2021</p>
@*            <p class="description">description1</p>
*@        </div>
    </div>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/canadas-wonderland-header-logov3.png" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Inventory Associate</p>
            <p class="location-time">Vaughan, ON | Feb 2020 – Aug 2020</p>
@*            <p class="description">description1</p>
*@        </div>
    </div>
</div>
<div class="resume-section">
    @*Certifications*@
    <h2>Certifications</h2>
    <div class="resume-content row">
        <div class="resume-logo col-md-3">
            <img src="~/images/ascm-logo-1.svg" />
        </div>
        <div class="resume-info col-md-9">
            <p class="title">Certified Supply Chain Professional (CSCP)</p>
            <p class="location-time">Feb 2021 – Feb 2026</p>
        </div>
    </div>
</div>