.resume-content {
    display: flex;
    justify-content: center;
}

.resume-logo {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.resume-info {
    width: 500px;
    text-align: left;
    margin-left: 100px;
}
